<table class="table">
    <thead>
        <tr>
            <th>ID2</th>
            <th>Activity</th>
            <th>Complete</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tasks; index as i">
            <td>{{i+1}}</td>
            <td>{{item.task}}</td>
            <td>
                <button class="button is-link">Complete</button>
            </td>
            <td>
                <button class="button is-danger" (click)="delete(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>